# Week #2 -  Python Practice

###   Some Ins and Outs with Python



There are many different kinds of data to be managed and analyzed today, and there are many ways to do it using Python.   Being able to manage and modify data isn't useful unless you can also get data into Python, and save your results from it.   Beginning with this session we're going to review techniques for input and output from Python starting with the simplest file formats and some basic Python tools.  We'll also take a first look at the pandas package.  Pandas has become very popular amongst “Pythonic” data scientists and is being used at the largest of the big data firms.  In the sessions that follow we'll consider more complicated file types and data “munging” tools and techniques.

So, let's start with flat files.  A flat file is just a file that's, well, flat.  It's typically a string of characters that may include end of line markers like a newline or carriage return code.  Let's write a simple flat file out to disk by entering the following command:

In [26]:
outfile = open('myflatfile.txt','w')  # open to write to a text file

Note: “In [1]:” represents the command prompt in your IPython session.  Depending on what you've been doing in a session, the digit or digits you see in it will vary.  But you knew that, right?

In [27]:
outfile # outfile is an open file 'object' in write mode.  By default it's a text, not binary, file

In [28]:
type(outfile)

_io.TextIOWrapper

Pardon the slight digression, above.  It's purpose was to show what kind of Python 'object' outfile is.  (Everything in Python is an object, right?)  the .txt file name extension is optional.  Now, let's create a text string and then write it to outfile:

In [29]:
iLikeButter='''Slather me toast with a bargefull of butter, and crown it with a bucket of Pythonberry jam.'''

This is obviously a quote from a high cholesterol data science pirate.  How many characters are in this string?  Try the function len(iLikeButter).

In [30]:
len(iLikeButter)

91

Write the string to outfile and then close outfile:

In [31]:
outfile.write(iLikeButter)

91

In [32]:
outfile.close()		# it's good practice to close whatever you open

In [33]:
import os
os.getcwd()

'/mnt/c/Users/andrewknight/Dev/PREDICT_420/week2/Sync_Session_2/Exercise_2'

Let's read your file back in:

In [34]:
infile=open('myflatfile.txt','r')	#read as a text file. For a binary, you'd use 'rb'
doYouWantButter=infile.read()	#reads the file contents into a string variable
doYouWantButter			#this should give you he iLikeButter string value
type(doYouWantButter)		# this should give you “str”
type(_)				# should have the same result as above, right?

str

When used as above, what does the underscore, “_”, represent?

Next, let's read a text file with more than one line.  The text file louielouie.txt has been provided to you. Pop it into the default directory for your session, the directory you identified before.  Then, open it for reading:

In [35]:
kingsMenLouie=open('louielouie.txt','r')		#'r' since this is a text file.

In [36]:
louielouie=kingsMenLouie.read() 	# take a look at louielouie by typing its name

And, then you could split the lines in louielouie into a list of lines as strings:

In [37]:
louielist=louielouie.split()		# lists are your Python Friend. (One of them, at least)

You could also read this file line by line with readline().  For example, to get the file contents into louie a string variable (and assuming that the file has been closed and opened again after the foregoing):

In [38]:
louie=""	# string var where we're going to put the lines from the file

In [39]:
while True:
    line=kingsMenLouie.readline()
    if not line:
        break
    louie+=line

Give the above code a try to see what you get.  Are louie and louielouie different?  Try the command louie==louielouie.  

Python usually does a good job closing files that have been opened, but it's good practice to do so explicitly whenever possible.  This is expecially true when you are writing data out to a  file, as explicitly closing a file written to forces any remaining write operation to finish.  Did you close all the files you opened, above?

A simple way to close a file you've written to is as follows.  Suppose you want to write the character string iLikeButter to a file called greaseitup.txt in your current directory.  If you do:

In [40]:
with open('greaseitup.txt','wt') as butterOut: 
    butterOut.write(iLikeButter)

the file will be closed automatically for you when your write operation is completed.  Note the 'wt' in the open statement.  't' is for text, but it's optional.  if you include a 'b' instead, you'll have a binary file instead of a text file.

The procedures for reading and writing binary files using open, .read, etc. are for the most part the same as for text files, and so we're not going to spend time here on binary file input and output.  We're shortly going to move on to reading and writing csv files, but before that let's take a look at the classic method for “serializing” (storing with permanency) python objects called pickling.

A pickle file includes one or more Python objects that can be read back into Python that has a Python-specific, environment independent format.  Two pickling packages in Python 2.7 are pickle and cPickle.  cPickle is the faster of the two, and is the default algorithm in Python 3.  So let's tinker with it here.  First, import cPickle:

In [41]:
import pickle

Now let's pickle our louielist from above in a file in the current working directory.

In [42]:
pickle.dump(louielist,open('louielist.p','wb'))

The above writes a binary pickle file.  You can read the file back into Python like:

In [43]:
louielsBack=pickle.load(open('louielist.p','rb'))

Did you get louielist back unchanged?  Try louielist == louielsBack from the command prompt.

We're going to move ahead to consider csv files, but to do so we're going to make use of the pandas package.  So let's import pandas first, and then look at a simple example of a very useful panda object, the DataFrame.

In [44]:
import pandas as pd	# panda's nickname is pd

import numpy as np	# numpy as np

from pandas import DataFrame, Series	    # for convenience

My guess is that you have used the numpy package before in your work or in a previous course.   DataFrame and Series are very handy pandas data structures that can do yeoman work for you in your data management efforts.

By way of introduction, let's first read a little pickled pandas DataFrame.

A pandas DataFrame is a table-like data structure with columns that can be of different data types, and that has both row and column indices. 

A Series is like one column of a DataFrame. It's a kind of vector that has an associated index.  A DataFrame can be thought of as a set of Series in the columns that share a single index, the row index.


DataFrames and Series have many useful attributes and features, some of which we'll explore in upcoming exercises.  But now let's try reading a less trivial csv file into a DataFrame.  The file is xyzcust10.csv, and it should be available to you on Canvas.  Take a look at it with your favorite text editor.  Then, put it in a place you can find it from Canvas, and input it into a DataFrame:

In [45]:
xyzcust10=pd.read_csv('xyzcust10.csv')

The file has 10 variables in it.  The rows, or records, are XYZ customers.  How many records are in xyzcust10?

What types of variables are in the columns of xyzcust10? To find out:

In [46]:
xyzcust10.dtypes

ACCTNO                    object
ZIP                        int64
ZIP4                       int64
LTD_SALES                float64
LTD_TRANSACTIONS           int64
YTD_SALES_2009           float64
YTD_TRANSACTIONS_2009      int64
CHANNEL_ACQUISITION       object
BUYER_STATUS              object
ZIP9_Supercode             int64
ZIP9_SUPERCODE             int64
dtype: object

Look at the first and last rows in xyzcust10:

In [47]:
xyzcust10.head()

,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_Supercode,ZIP9_SUPERCODE
0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016,600845016
1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750,600911750
2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900,600670900
3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838,600683838
4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932,600903932

In [48]:
xyzcust10.tail()

,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_Supercode,ZIP9_SUPERCODE
30466,SYDQYLSWH,60098,3951,2736.0,9,96.0,1,RT,ACTIVE,600983951,600983951
30467,SAPDQHQLP,60098,9681,2412.0,8,108.0,1,RT,ACTIVE,600989681,600989681
30468,SASYAPDSY,60098,0,429.0,1,0.0,0,RT,INACTIVE,600983858,600983858
30469,PWQPDWHA,60098,7927,651.0,1,0.0,0,RT,INACTIVE,600987927,600987927
30470,SQQHDYHWH,60098,4160,4527.0,16,672.0,2,RT,ACTIVE,600984160,600984160

Note that in this file missing values for ZIP, ZIP4, and the nine digit ZIP are represented with zeros, “0's.”  The ZIPs could really also be coded as strings, rather than as integers, couldn't they?  Also, it looks like there might be two nine digit ZIP code variables.  Are they the same? 

That is are the values in these two variables the same for every row of data?  How would you locate the rows in xyzcust10 that have a zero for ZIP or for ZIP4?  We'll see in the next session's Python Practice.

Last but not least, be sure to pickle your xyzcust10 Data Frame so you can use it in the next Practice.

# Deliverable :
* Update the pd.read_csv('xyzcust10.csv') to use the VactaionHistory.csv file you created in Exercise #1 and run this script

In [51]:
# Read in my ski vacation history from last week
ski_vacation_history = pd.read_csv('VacationHistory.csv')

ski_vacation_history.dtypes

Chicago    object
IL         object
5           int64
2008        int64
dtype: object

In [52]:
ski_vacation_history.head()

       Chicago  IL  5  2008
0      NewYork  NY  8  2014
1      Detriot  MI  2  2007
2  SanFransico  CA  7  2003
3       Boston  MA  4  2010